body{
    padding: 0;
    margin: 0;
    font-family: cursive;
    background-image: url(bodybackground05.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}
.header{
    background-image: url(banner01.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: whitesmoke;
    font-size: 40px;
    margin: 0px 80px 0px 80px;
    padding: 75px 0;
    text-align: center;
}
.navigation{
    background-color: lightgrey;
    text-align: center;
    padding: 0;
    margin: 0 80px 40px 80px;
}
.navul{
    list-style: none;
    margin: 0;
    padding: 8px;
}
ul li{
    display: inline-block;
    padding: 0 35px;
}
#search1{
    padding: 5px 3px;
    margin-right: 5px;
}   
.content{
    color: whitesmoke;
    text-align: center;
    padding: 20px 10px;
    margin: 0 80px;
    background-color: black;
}
.boxes{
    width: 300px;
    height: 300px;
}
.liboxes{
    padding: 0 0 10px 0;
    margin: 10px 20px 10px 20px;
    width: 300px;
    
    height: 350px;
    border-style: solid;
    border-color: cadetblue;
    border-width: 2px;
    border-radius: 20px 0 20px 0;
}
.liboxes a {
    text-decoration: none;
    color: dimgray;
}‬
.footer{
    text-align: right;
    background-color: black;
    color: whitesmoke;
    font-size: 15px;
    padding: 5px 10px;
    margin: 0 80px 40px 80px;
}
#button1{
    border-style: outset;
    border-radius: 5px;
    background-color: whitesmoke;
    padding: 5px 8px;
}
h1{
    text-align: center;
}
p{
                
}
span div{
    text-align: right;
}
