body{
    padding: 0;
    margin: 0;
    font-family: cursive;
    background-image: url(bodybackground05.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}
.header{
    background-image: url(banner01.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: whitesmoke;
    font-size: 40px;
    margin: 0 80px 0 80px;
    padding: 75px 0;
    text-align: center;
}
.navigation{
    background-color: #FFF;
    text-align: center;
    padding: 0;
    margin: 0 80px 40px 80px;
}
.navul{
    list-style: none;
    margin: 0;
    padding: 8px;
}
ul li{
    display: inline-block;
    padding: 0 35px;
}
.navigation ul li a{
    text-decoration: none;
    color: darkgray;
}
.navigation ul li a:hover{
    background-color: cadetblue;
    color: #fff;
}
.content{
    color: whitesmoke;
    text-align: center;
    padding: 20px 10px;
    margin: 0 80px;
    background-color: black;
}
.boxes{
    width: 300px;
    height: 300px;
}
.ulboxes{
    list-style: none;
}
.liboxes{
    padding: 0 0 10px 0;
    margin: 10px 20px 10px 20px;
    width: 300px;
    
    height: 350px;
    border-style: solid;
    border-color: cadetblue;
    border-width: 2px;
    border-radius: 20px 0 20px 0;
}
.liboxes a{
    text-decoration: none;
    color: gray;
}‬
.footer{
    text-align: right;
    background-color: black;
    color: whitesmoke;
    font-size: 15px;
    padding: 5px 10px;
    margin: 0 80px 40px 80px;
}
form{
    display: inline-block;
    padding: 0 0 0 0;
}
#search1{
    text-align: center;
    padding: 5px 3px;
    margin-top: 15px;
    margin-right: 0px;
    border-radius: 30px 0 0 30px;
    height: 40px;
    width: 500px;
}
#searchbutton{
    background-color: red;
    background-image: url(searchicon.png);
    background-position: center center;
    background-size: cover;
    border-radius: 0 30px 30px 0;
    background-color: whitesmoke;
    margin-top: 30px;
    margin-left: 0px;
    height: 40px;
    width: 40px;
}
h1{
    text-align: center;
}
p{
                
}
.content .footer span{
    text-align: right;
    font-size: 20px;
}
